html,body{
	margin: 0;
	padding: 0;
	background: #e91e63;
}

.search-form {
  max-width:400px;
  margin:50px auto;
}

input {
  width: 100%;
  padding:20px;
}

.search{
    position: relative;
	width: 120%;
	left: -17%;
	outline: none;
	border: 10px solid #fefefe;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    top: 10px;
    border-radius: 5px;
}

.suggestions{
	list-style: none;
	margin: 0;
	padding: 0;
}

.suggestions > li{
	background-color: #fff;
	padding: 20px;
	border-bottom: 1px solid #D8D8D8;
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
	transition: background 0.5s;
}

.suggestions > li:nth-child(even){
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions > li:nth-child(odd){
    transform: perspective(100px) rotateX(-3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}